<div>
    <p class="mb-s">Hello <%= @recipient.full_name %>,</p>
    <p>Weather you're deep into the plot twits or savoring each chapter, we would love to hear about you're reading progress. Feel free to share you're toughts, favourite moments, or any questions you might have.</p>
    <p>Keep those pages turning!</p>
    <p mt-s>Cheers!</p>
</div>